name: test
on: [push]

env:
  NODE_VERSION: 22

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'

    - name: Install project
      run: yarn

    - name: Compile
      run: yarn compile

    - name: lint
      run: yarn fullCheck

    - name: slither
      uses: crytic/slither-action@v0.4.2
      with:
        ignore-compile: true
        node-version: ${{ env.NODE_VERSION }}

  compilation:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        solc: [0.8.33, 0.8.32, 0.8.31, 0.8.30, 0.8.29, 0.8.28, 0.8.27]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'

    - name: Install project
      run: yarn

    - name: Remove too old solc files
      run: rm contracts/VeryVeryVeryVeryLegacyBITE.sol

    - name: Compile
      env:
        SOLC_VERSION: ${{ matrix.solc }}
      run: yarn compile

  solidity-0-8-5-compilation:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        solc: [0.8.26, 0.8.25, 0.8.24, 0.8.23, 0.8.22, 0.8.21, 0.8.20, 0.8.19, 0.8.18, 0.8.17, 0.8.16, 0.8.15, 0.8.14, 0.8.13, 0.8.12, 0.8.11, 0.8.10, 0.8.9, 0.8.8, 0.8.7, 0.8.6, 0.8.5]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'

    - name: Install project
      run: yarn

    - name: Remove modern solc files
      run: scripts/to_solidity_0.8.5.sh

    - name: Compile
      env:
        SOLC_VERSION: ${{ matrix.solc }}
      run: yarn compile

  solidity-0-8-4-compilation:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        solc: [0.8.4]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'

    - name: Install project
      run: yarn

    - name: Remove modern solc files
      run: scripts/to_solidity_0.8.4.sh

    - name: Compile
      env:
        SOLC_VERSION: ${{ matrix.solc }}
      run: yarn compile

  solidity-0-8-0-compilation:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        solc: [0.8.3, 0.8.2, 0.8.1, 0.8.0]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'

    - name: Install project
      run: yarn

    - name: Remove modern solc files
      run: scripts/to_solidity_0.8.0.sh

    - name: Compile
      env:
        SOLC_VERSION: ${{ matrix.solc }}
      run: yarn compile

  solidity-0-6-0-compilation:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        solc: [0.7.6, 0.7.5, 0.7.4, 0.7.3, 0.7.2, 0.7.1, 0.7.0, 0.6.12, 0.6.11, 0.6.10, 0.6.9, 0.6.8, 0.6.7, 0.6.6, 0.6.5, 0.6.4, 0.6.3, 0.6.2, 0.6.1, 0.6.0]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'

    - name: Install project
      run: yarn

    - name: Remove modern solc files
      run: scripts/to_solidity_0.6.0.sh

    - name: Compile
      env:
        SOLC_VERSION: ${{ matrix.solc }}
      run: yarn compile

  solidity-0-5-0-compilation:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        solc: [0.5.17, 0.5.16, 0.5.15, 0.5.14, 0.5.13, 0.5.12, 0.5.11, 0.5.10, 0.5.9, 0.5.8, 0.5.7, 0.5.6, 0.5.5, 0.5.4, 0.5.3, 0.5.2, 0.5.1, 0.5.0]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'yarn'

    - name: Install project
      run: yarn

    - name: Remove modern solc files
      run: scripts/to_solidity_0.5.0.sh

    - name: Compile
      env:
        SOLC_VERSION: ${{ matrix.solc }}
      run: yarn compile
